.logo {
    height:200px;
    background-color: yellow;
}

.test {
}

.rood {
    background-color: red;
    height: 400px;
}

.oranje {
    height: 100px;
    width: 100px;
    float: right;
    background-color: orange;
}

.groen {
    height: 100px;
    background-color: green;
}