ul li {
    position: relative;
    display: inline-block;
}

ul li ul {
    position: absolute;
    left: -50px;
}

ul li ul li {
    position: relative;
    display: none;
}

ul li:hover ul li {
    display: block;
}

li {
    background-color: greenyellow;
    margin-top: 5px;
}

li ul li {
    background-color: blue;
    width: 70px;
}