#tabberTab .tab{
    padding: 0 8px;
}

.productPics .primaryTile {
    display:none;
}

#details .outlet {
    border: 1px solid #CCC;
    padding: 5px 5px 0px 5px;
    margin-bottom:15px;
}

#details .outlet h2 {
    font-size:14px;
}

.outlet #navTree .tree ul.isFirstLevelSubTreeNode {
    margin-bottom:0;
}

.outlet #navTree .tree {
    padding-bottom:25px;
}

#tabberSub a {
    padding:0 13px;
}

.nominatie a:hover {
    text-decoration: none;
}

.sideArea .social .links a {
    width: 36px;
}

<style type="text/css">
#navTree .tree ul.isFirstLevelSubTreeNode, #navTree .tree li.subLevel.hasNoSubs { margin-bottom:5px; }
#navTree .tree li.parent { margin-bottom:20px; }

#highlightMatrix .h1x1 .name { font-size: 14px; }
.CableFinder .actionStep { padding: 0 50px;}

.country_nl #navTree .tree li.subLevel.isSubTree .noLink { margin-right: 8px; } /*weber tree correction*/
.country_nl .highlightMatrix .h1x1 .eyeCatcherOutlet .top .now { display: initial; } /*outlet teaser correctie*/
/*#readEnergyEfficiencyDataSheet { display: none; }*/
.country_nl .productdetail #pageContent a.advancedTechnicalInformationLink { display: none; } /*Verbergen lege sheets bij ALTERNATE PCs*/

/* Promotion Seite*/
.country_nl #promotionHeaderLinks { margin: 115px 0 0 38px; }
.country_nl #promotionHeaderLinks a { font-weight:bold; font-size:13px; line-height:17px; color:#6a6a6a; border-right:2px solid #6a6a6a; padding:0 6px; }
.country_nl #promotionHeaderLinks a:first-child + a + a + a + a,.country_nl #promotionHeaderLinks a:first-child + a + a + a + a + a + a { border:0; }
.country_nl .articleRegulations { display:none; }
/*.country_nl .deliveryTime {display: none;}*/
/*.selectedFilter { position: fixed; top: 0px !important; }*/
#readEnergyEfficiencyDataSheet { display: none; }
.country_nl #variant { display: none; } /*Uitzetten van Boxed selectie (Op aanvraag van Marco Boer)*/
/*.eyeCatcher.promotion18 .promotionValue {margin-top:0px;}
.eyeCatcher.promotion18 .promotionValue .amount {font-size:16px;}
.eyeCatcher.promotion18 .promotionValue .currency, .eyeCatcher.promotion18 .promotionValue .percent {font-size:16px;}*/
.eyeCatcher .promotionValue .amount { font-size: 22px; }
.eyeCatcherSmall .promotionValue .amount {font-size: 10px;}
.eyeCatcherMiddle .promotionValue .amount {font-size: 16px;}
/*.listingSubgroup {display: none;}*/

/*fix zwevende header*/
@media(min-width: 1281px) and (max-width: 1466px){
    #header .headerFixed { position: absolute;}
    #tabberFixedContainer #tabbers { position: absolute;}}

body{ background-image:url(/download/b2c_nl/takeover/Game_Over_v1.jpg); background-position:top center; background-repeat:no-repeat; background-color:#D6DBE1; background-attachment:fixed; }

a.takeOver { height:15000px; width:6000px; position:fixed; top:-5000px; z-index:-20; }
a#takeOverLeft { left:-5000px; }
a#takeOverRight { left:1000px; }
a#takeOver img { height:100%; width:100%; }
#specialArea .sideArea, #specialAreaLeftSide .sideArea { float: none; width: auto; display: none; }

.clear {
    clear: both;
}

.left {
    float: left;
}